body {
  font-family: "Montserrat", sans-serif !important;
  background-image: url(/assets/img/background/background1.png);
  height: 100%; }

#body-loading {
  background-color: white;
  opacity: 0.8;
  height: 500px;
  width: 50%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media all and (max-width: 500px) {
    #body-loading {
      height: 300px; } }

#progress-status {
  position: relative;
  top: 30%;
  padding: 10px; }
  @media all and (max-width: 500px) {
    #progress-status {
      top: 45%; } }

#progress-step2, #progress-step3, #progress-step4, #progress-step5 {
  display: none; }

#text-loading {
  align-self: center; }
  @media all and (max-width: 500px) {
    #text-loading {
      font-size: 1.5rem; } }

#buttonStart {
  display: none;
  position: relative;
  align-self: center;
  padding: 10px;
  margin: 10px; }
  @media all and (max-width: 500px) {
    #buttonStart {
      font-size: 0.8rem; } }

#arena {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 600px;
  padding: 10px 0;
  display: none; }
  @media all and (max-width: 500px) {
    #arena {
      width: 400px; } }

#fight {
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  top: 5px;
  bottom: 20px;
  box-shadow: 0 0 20px black; }
  @media all and (max-width: 500px) {
    #fight {
      height: 400px; } }

.fight-mode {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

#fight-menu {
  display: none;
  width: 379.74684px;
  position: absolute;
  left: calc(50% - 379.74684px / 2);
  top: 2%;
  z-index: 50; }
  @media all and (max-width: 500px) {
    #fight-menu {
      width: 253.16456px;
      left: calc(50% - 253.16456px / 2);
      top: 5%; } }

.character-to-fight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative; }

#action-button, #actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  color: white; }
  @media all and (max-width: 500px) {
    #action-button, #actions {
      font-size: 0.75rem !important; } }

.fight-menu-table {
  position: absolute;
  max-width: 100%; }

#menu {
  max-height: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin: 0 auto; }

#activity-item-list {
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow-y: scroll;
  max-height: 175px;
  max-width: 100%; }

/* width */
::-webkit-scrollbar {
  width: 20px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303e5a;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%); }

.activity-item {
  padding: 5px;
  margin: 5px;
  background-color: beige;
  border-radius: 10px; }

#activity-text {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  background-color: #849898; }

.activity-item {
  text-overflow: ellipsis; }

.last-item {
  font-weight: bold;
  text-overflow: ellipsis; }

#evolution {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  background-image: url(/assets/img/menu/background-menu1.jpg);
  background-size: contain;
  -webkit-filter: drop-shadow(2px 4px 6px black);
  filter: drop-shadow(2px 4px 6px black);
  padding: 10px 10px 20px 10px;
  position: relative; }

.player-avatar {
  width: 25%; }

.player2 {
  float: right; }

.player-info {
  display: flex;
  align-content: stretch; }

.avatar-window {
  position: relative;
  z-index: 50; }

.avatar-icon {
  position: relative; }

.info1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 16%;
  top: 5px; }

.info2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16%;
  top: 5px; }

.player-life, .player-weapon {
  float: left; }

.life-info, .weapon-info {
  display: flex;
  align-content: stretch;
  font-weight: bold; }
  @media all and (max-width: 500px) {
    .life-info, .weapon-info {
      font-size: small; } }

.player-name-info {
  font-weight: bold;
  display: flex;
  font-size: x-large; }
  @media all and (max-width: 500px) {
    .player-name-info {
      font-size: medium; } }

.high-life-level {
  color: green;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000; }

.medium-life-level {
  color: orangered;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000; }

.low-life-level {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000; }

.avatar-img img {
  max-height: 60px; }
  @media all and (max-width: 500px) {
    .avatar-img img {
      max-height: 30px; } }

.character-to-fight img {
  max-height: 60px;
  transition-property: max-height;
  transition-duration: 2s; }

#fight-banner img {
  max-width: 100%; }

#fight-banner {
  max-height: 15%;
  max-width: 100%;
  margin: auto;
  position: relative; }

.text-button {
  color: white;
  position: absolute;
  top: 30%;
  z-index: 100;
  font-weight: bold; }

#btnAttack, #btnDefense {
  position: relative;
  max-height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center; }

#btnAttack img, #btnDefense img {
  color: white;
  max-height: 100%;
  max-width: 100%; }

#btnAttack:hover, #btnDefense:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  transform: scale(1.2, 1.2);
  cursor: pointer; }

.action-icon {
  position: absolute;
  top: -10px; }

.action-icon > img {
  max-height: 35px !important; }

#endGame {
  position: absolute; }

.playerTour-fight img {
  max-height: 150px !important; }
  @media all and (max-width: 500px) {
    .playerTour-fight img {
      max-height: 100px !important; } }

.passivePlayer-fight img {
  max-height: 50px !important; }

.avatar-img {
  position: absolute;
  top: 10px;
  z-index: 0;
  overflow: hidden; }

.playerTour {
  animation: playerTourFloat 0.7s linear infinite;
  -webkit-filter: brightness(150%);
  filter: brightness(150%); }
  .playerTour img {
    max-height: 65px; }
    @media all and (max-width: 500px) {
      .playerTour img {
        max-height: 35px; } }

@keyframes playerTourFloat {
  from {
    top: 1px; }
  to {
    top: 11px; } }

.damage {
  display: none; }

.damageTour {
  color: red;
  opacity: 0;
  font-weight: bold;
  display: block;
  position: relative;
  top: 0px;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: damagesNumber; }

@keyframes damagesNumber {
  from {
    top: 0px;
    opacity: 1; }
  to {
    top: -30px;
    opacity: 0; } }

@keyframes heartBeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); } }

.high-pulse {
  animation: heartBeat 1s linear infinite; }

.medium-pulse {
  animation: heartBeat 0.7s linear infinite; }

.low-pulse {
  animation: heartBeat 0.3s linear infinite; }

#endGame-modal {
  display: none;
  position: fixed;
  left: calc(50% - 400px / 2);
  z-index: 2000;
  width: 400px;
  height: 60%;
  margin: 0 auto;
  top: 10%; }
  @media all and (max-width: 500px) {
    #endGame-modal {
      left: calc(50% - 266.66667px / 2);
      width: 266.66667px; } }

#endGame-img-table {
  position: absolute;
  width: 100%;
  height: 110%; }
  @media all and (max-width: 500px) {
    #endGame-img-table {
      height: 100%; } }

#endGame-img-banner {
  position: absolute;
  width: 100%; }

#endGame-img-reload {
  max-height: 70px; }

#endGame-img-reload img {
  height: 70px; }

#endGame-img-reload:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  cursor: pointer; }

#winner {
  color: white;
  margin: auto;
  font-size: larger; }
  @media all and (max-width: 500px) {
    #winner {
      font-size: small; } }

#winner-info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  top: 20%;
  justify-content: center;
  align-items: center; }

#winner-img {
  margin: auto; }

#winner-img img {
  max-height: 200px; }
  @media all and (max-width: 500px) {
    #winner-img img {
      max-height: 150px; } }

#darkener {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  display: none;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  background-color: darkgray;
  opacity: 0.5; }

.case {
  position: relative;
  flex-grow: 1;
  display: flex;
  background-image: url("/assets/img/normal-field/tile-2D.png");
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 0 1px green; }
  .case.blocked {
    background-image: url("/assets/img/blocked-field/tile-2D.png"); }
  .case.case-reachable {
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
    transition-property: -webkit-filter;
    transition-property: filter;
    transition-delay: 1.5s; }
  .case:not(.blocked):hover {
    -webkit-filter: brightness(150%) !important;
    filter: brightness(150%) !important; }

.row-map {
  display: flex;
  align-content: stretch; }

#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s; }

#delay:hover {
  font-size: 36px; }

.player {
  transition-property: left top;
  transition-duration: 2s; }

.weapon {
  transition-property: opacity;
  transition-duration: 1s; }

#activity-item-list .player0 {
  color: #1c2a48;
  align-self: flex-start; }

#activity-item-list .player1 {
  color: #e65100;
  align-self: flex-end; }

#activity-item-list .system {
  color: #413f3f;
  align-self: center; }

@media all and (max-width: 500px) {
  #activity-item-list {
    font-size: 0.75rem; } }
