body {
    background-color: aqua;
}

#arena {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(231, 241, 241);
  height: 800px;
  width: 800px;
}

#fight{
    width: 680px;
    height: 680px;
    border: 2px black solid;
    overflow: hidden;
    position: relative;
    left: 20px;
    right: 20px;
    top: 5px;
    bottom: 20px;
  }

  #menu{
    width: 680px;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    left: 20px;
    right: 20px;
    top: 5px;
    bottom: 20px;
    background-image: url('/assets/img/menu/description.png');
    background-size: cover;
    background-position: 50% 50%;
  }

  .case {
    position: relative;
    flex-grow: 1;
    display: flex;
    background-image: url('/assets/img/normal-field/tile-2D.png');
    background-size: cover;
    background-position: 50% 50%;
    //box-shadow: 0 0 1px green;

    &.blocked {
      background-image: url('/assets/img/blocked-field/tile-2D.png');
    }

    &.case-reachable {
      filter: contrast(200%);
      transition-property: filter;
      transition-delay: 1.5s;
    }

    &:not(.blocked):hover {
      filter: brightness(150%);
    }
}

.row-map{
  display: flex;
  align-content: stretch;
}

#delay {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

#delay:hover {
  font-size: 36px;
}

.player{
  transition-property: left top;
  transition-duration: 2s;
}

.weapon{
  transition-property: opacity;
  transition-duration: 1s;
}

